{% extends "global/prototypes_base.html" %}
{% block body_classes %}prototypes-index{% endblock %}
{% block proposition_header %}
<div>
  <div>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Land Registry</a>
    </nav>
  </div>
</div>
{% endblock %}
{% block content %}
<main id="wrapper" role="main">
  <div id="content">
    <div>
      <div>
        <h1 class="heading-large">
          Worklist
        </h1>
        <div>
          <ul>
              <li>
                  <a href="case1">
                      Title number: DN2
                      Date received: 30 April, 17:50:00.000000
                      Application reference: LR0012
                  </a>
              </li>
              <li>
                  <a href="case2">
                      Title number: DN2
                      Date received: 30 April, 18:05:00.000000
                      Application reference: LR0003
                  </a>
              </li>
              <li>
                  <a href="case3">
                      Title number: DN2
                      Date received: 30 April, 18:50:00.000000
                      Application reference: LR0103
                  </a>
              </li>
          </ul>
          <ul>
              {% for case in data.cases %}
              <li>
                {{ case.titleNumber }}
                {{ case.applicationReference }}
                {{ case.dateReceived }}
              </li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
