{% extends "global/prototypes_base.html" %}
{% block body_classes %}prototypes-index{% endblock %}
{% block proposition_header %}
<div>
  <div>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Land Registry</a>
    </nav>
  </div>
</div>
{% endblock %}
{% block content %}
<main id="wrapper" role="main">
  <div id="content">
    <div>
      <div>
        <h1 class="heading-large">
          Worklist
        </h1>
        <div>
          <ul>
              {% for case in data.cases %}
              <li>
                <a href="manage-{{case.applicationReference}}">
                  {{ case.titleNumber }}
                  {{ case.applicationReference }}
                  {{ case.dateReceived }}
                </a>
              </li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
