{% extends "global/prototypes_base.html" %}
{% block body_classes %}prototypes-index{% endblock %}
{% block proposition_header %}
<div>
  <div>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Land Registry</a>
    </nav>
  </div>
</div>
{% endblock %}
{% block content %}
<main id="wrapper" role="main">
  <div id="content">
    <div>
      <div>
        <h1 class="heading-large">
          Manage case
        </h1>
        <div>
          <ul>
              <li>
                  Title number: DN2
              </li>
              <li>
                  Date received: 30 April, 17:50:00.000000
              </li>
              <li>
                  Application reference: LR0012
              </li>
          </ul>
        </div>
        View worklist
      </div>
    </div>
  </div>
</main>
{% endblock %}
