{% extends "global/prototypes_base.html" %}
{% block body_classes %}prototypes-index{% endblock %}
{% block proposition_header %}
<div>
  <div>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Land Registry</a>
    </nav>
  </div>
</div>
{% endblock %}
{% block content %}
<main id="wrapper" role="main">
  <div id="content">
    <div>
      <div>
        <h1 class="heading-large">
          Manage case
        </h1>
        <div>
          <table>
              {% for case in data.case %}
              <tr>
                <th>
                  Title number
                </th>
                <td>
                  {{ case.titleNumber }}
                </td>
              </tr>
              <tr>
                <th>
                  Application reference
                </th>
                <td>
                  {{ case.applicationReference }}
                </td>
              </tr>
              <tr>
                <th>
                  Date received
                </th>
                <td>
                  {{ case.dateReceived }}
                </td>
              </tr>
              {% endfor %}
          </table>
        </div>
        <a href="cases">
          View worklist
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
